* {
  margin: 0px;
}
p {
  font-family: "Indie Flower", sans-serif;
  font-size: 20px;
}

li {
  font-family: "Indie Flower", sans-serif;
  font-size: max(1.5vw, 15px);
}
h1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 50px;
  margin-bottom: 0px;
  line-height: 32px;
  color: black;
  margin-top: 80px;
  margin-bottom: 20px;
}

h2 {
  font-family: "Bricolage Grotesque", sans-serif;
}
h3 {
  font-family: "Bricolage Grotesque", sans-serif;
  margin-bottom: 10px;
}

header {
  height: 45px;
  padding: 5px;
  padding-right: 0px;
  display: flex;
  justify-content: center;
  margin-right: 0px;
}
.headerContent {
  width: 60%;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: white;
}
nav {
  display: flex;
  flex-direction: row;
  height: 45px;
  padding: 5px;
  padding-right: 10px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 35px;
  line-height: 40px;
}
nav h4 {
  color: black;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
}
nav h4:hover {
  font-size: 45px;
  text-decoration: none;
  line-height: 40px;
}
#menu nav a {
  text-decoration: none;
}

#headerWorks {
  color: rgb(157, 179, 172);
}
#headerWorks:hover {
  font-size: 40px;
}

#login-icon {
  object-fit: cover;
  width: 36px;
  height: 36px;
}

#login-icon:hover {
  object-fit: cover;
  width: 42px;
  height: 42px;
  margin-top: -1px;
}
.backgroundBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.content {
  width: 60%;
}

.contact {
  padding-top: 10px;
  max-width: 800px;
}

.contactImage {
  display: flex;
  justify-content: center;
  object-fit: cover;
  padding: 10px;
}

#profileImg {
  width: 300px;
  height: 490px;
  object-fit: cover;
  border-radius: 10px;
  border: 10px solid rgb(197, 209, 205);
}

.contactText {
  padding: 3%;
  margin-top: 2%;
  padding-right: 20px;
}

.contact h1 {
  font-size: 65px;
  line-height: normal;
  color: black;
  margin-top: 0px;
  line-height: 65px;
}

#name {
  font-size: 85px;
  font-weight: 900;
  line-height: 85px;
}
.contact h2 {
  font-size: 27px;
  color: rgb(157, 179, 172);
}
.contactInfo {
  margin-top: 40px;
  margin-left: 1vw;
  margin-top: 30px;
  background-color: rgb(197, 209, 205);
  padding: 20px;
  width: 250px;
  border-radius: 10px;
}
.contact p {
  font-size: 17px;
}

.about h2 {
  color: black;
}
.about p {
  margin-top: 15px;
  padding-left: 1vw;
}

.firstRowBoxes,
.secondRowBoxes {
  max-width: 100%;
}
.education,
.professional,
.skills,
.languages {
  border-radius: 10px;
  margin: 10px;
  background-color: rgb(197, 209, 205);
  padding: 15px;
}
.columns {
  justify-content: center;
}

.loginBox {
  background-color: rgb(157, 179, 172);
  width: 300px;
  height: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
h1#login {
  color: black;
  text-align: center;
}

input {
  border-style: none;
  border-radius: 2px;
}

input[type="submit"] {
  font-size: 20px;
  font-family: "Bricolage Grotesque", sans-serif;
  color: black;
  background-color: rgb(197, 209, 205);
  padding: 2px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 30px;
}

input[type="submit"]:hover {
  text-decoration: none;

  color: white;
}

.loginFooter {
  justify-content: flex-end;
}
.loginFooter a {
  font-weight: 600;
  color: black;
}

.projectImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: 10px solid rgb(197, 209, 205);
}
.skillsPage a {
  font-size: 20px;
  font-family: "Bricolage Grotesque", sans-serif;
  color: black;
  background-color: white;
  padding: 2px;
  padding-right: 4px;
  padding-left: 4px;
}

.skillsPage a:hover {
  text-decoration: none;
  padding: 6px;
  color: rgb(197, 209, 205);
}
.skillsPage {
  margin-top: 30px;
}
.projectCards {
  max-width: 330px;
  min-height: 450px;
}

.projectCards a {
  color: black;
}
.projectCards a:hover {
  text-decoration: none;
}

.newProject a {
  font-size: 20px;
  font-family: "Bricolage Grotesque", sans-serif;
  color: black;
  background-color: rgb(197, 209, 205);
  padding: 2px;
  padding-right: 4px;
  padding-left: 4px;
}
.newProject a:hover {
  text-decoration: none;
  padding: 6px;
  color: white;
}
.newProject {
  margin: 10px;
  margin-top: 20px;
}
h3#name {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
h3#yeartype {
  font-size: 18px;
  line-height: 15px;
  text-align: center;
}

.cardFooter a {
  font-size: 20px;
  font-family: "Bricolage Grotesque", sans-serif;
  color: black;
  background-color: rgb(197, 209, 205);
  padding: 2px;
  padding-right: 4px;
  padding-left: 4px;
}

.cardFooter a:hover {
  text-decoration: none;
  padding: 6px;
  color: white;
}

.infoImage {
  display: flex;
  justify-content: center;
  object-fit: cover;
  padding: 10px;
}

#infoImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: 10px solid rgb(197, 209, 205);
}
h1#project {
  font-size: 40px;
  line-height: 45px;
}
#back a {
  margin-top: 20px;
  color: black;
}

.db input {
  border-style: solid;
  border-width: 1px;
}
.db label {
  font-size: 20px;
}
.db {
  display: flex;
  flex-direction: column;
}

#modifyItem {
  font-size: 25px;
}
