<header id="menu">
  <div class="headerContent">
    <nav>
      <a href="/"><h4>about</h4></a>
      <a href="/works"><h4 id="headerWorks">works</h4></a>
      <a href="/skills"><h4>skills</h4></a>

    </nav>
  </div>
</header>