<div id="main">
  <div class="backgroundBox">
    <div class="contact">
      <div class="contactImage">
        <img id="profileImg" src="img/Me.jpg" />
      </div>

      <div class="contactText">
        <h1><span id="name">Mathilda</span> Magnusson</h1>
        <h2>New Media Design student</h2>
        <div class="contactInfo">
          <p>mail: mama22uv@student.ju.se</p>
          <p>tel: 07 07 07 07 07</p>
          <p>address: Sagogatan 3 Jönköping</p>
        </div>
      </div>
    </div>
  </div>
</div>