<div class="backgroundBox">
  <div class="contact columns">
    <div class="contactImage column col-lg-5 col-md-12">
      <img id="profileImg" src="img/Me.jpg" />
    </div>

    <div class="contactText column col-lg-5 col-md-7 col-mx-auto">
      <h1><span id="name">Mathilda</span> Magnusson</h1>
      <h2>New Media Design student</h2>
      <div class="contactInfo">
        <p>mail: mama22uv@student.ju.se</p>
        <p>tel: 07 07 07 07 07</p>
        <p>address: Sagogatan 3 Jönköping</p>
      </div>
    </div>
  </div>
</div>