<div class="backgroundBox">
  <div>
    <h1 id="login">login</h1>
    <div class="loginBox">
      <form action="/login-test" method="post" id="formlogin">
        <fieldset>
          <label for="firstname">First name:</label><br />
          <input type="text" id="firstname" name="firstname" /><br />
          <label for="lastname">Last name:</label><br />
          <input type="password" id="lastname" name="lastname" />

        </fieldset>
        <input type="submit" value="Log in" />
      </form>
    </div>

  </div>
</div>