<div class="backgroundBox">
  <div>
    <h1 id="login">login</h1>
    <div class="loginBox">
      <form action="/login" method="post" id="formlogin">
        <fieldset>

          <label for="un">Username<br /></label>
          <input type="text" id="un" name="un" required="required" />
          <br />
          <label for="pw">Password<br /></label>
          <input type="password" id="pw" name="pw" required="required" />
          <br />
        </fieldset>
        <input type="submit" value="Log in" />

      </form>
      <div class="loginFooter">
        <div> Don't have a login? <a href="/login/register">Register!</a></div>
        <div>
          Do you want to
          <a href="/login/delete">delete</a>
          your account?</div>
      </div>
    </div>

  </div>
</div>