<div class="backgroundBox">
  <div>
    <h1>register</h1>
    <div class="loginBox">
      <form action="/login/register" method="post" id="formregister">
        <fieldset>

          <label for="un">Username<br /></label>
          <input type="text" id="un" name="un" required="required" />
          <br />
          <label for="pw">Password<br /></label>
          <input type="password" id="pw" name="pw" required="required" />
          <br />
        </fieldset>
        <input type="submit" value="Register" />

      </form>
      <div> Already have an account? <a href="/login">login</a></div>
    </div>

  </div>
</div>