<div class="backgroundBox">
  <div class="content columns">
    <div class="firstRowBoxes columns col-12 col-mx-auto">
      <div class="education column col-5 col-md-11">
        <h3>Education</h3>
        <ul>
          <li>2022-2025 New media design 180hp at Jönköping University</li>
          <li>2020 Mathematics 5 course</li>
          <li>
            2017-2020 The technical programme of Erik Dahlbergsgymnasiet
          </li>
        </ul>
      </div>
      <div class="professional column col-5 col-md-11">
        <h3>Professional experience</h3>
        <ul>
          <li>2021-2022 Factory worker at Rol Ergo</li>
          <li>2020-2021 Factory Worker at FJ Sintermetall</li>
          <li>2017 Cashier at ICA</li>
        </ul>
      </div>
    </div>
    <div class="secondRowBoxes columns col-12 col-mx-auto">
      <div class="skills column col-5 col-md-11">
        <h3>Computer Skills</h3>
        <ul>
          <li>Adobe Illustrator</li>
          <li>Adobe inDesign</li>
          <li>Adobe Photoshop</li>
          <li>Figma</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>Premiere Pro</li>
          <li></li>
          <li></li>
        </ul>
      </div>

      <div class="languages column col-5 col-md-11">
        <h3>Languages</h3>
        <ul>
          <li>Native language: Swedish</li>
          <li>Fluent: English</li>
          <li>Limited understanding: Spanish, Danish, Norwegian</li>
        </ul>
      </div>
    </div>
  </div>
</div>