<div id="main">
  <div class="backgroundBox">
    <h1>Professional experience</h1>
    <div class="professional">
      <ul>
        <li>2021-2022 Factory worker at Rol Ergo</li>
        <li>2020-2021 Factory Worker at FJ Sintermetall</li>
        <li>2017 Cashier at ICA</li>
      </ul>
    </div>
    <h1>Education</h1>
    <div class="education">
      <ul>
        <li>2022-2025 New media design 180hp at Jönköping University</li>
        <li>2020 Mathematics 5 course</li>
        <li>2017-2020 The technical programme of Erik Dahlbergsgymnasiet</li>
      </ul>
    </div>
    <h1>Languages</h1>
    <div class="languages">
      <ul>
        <li>Native language: Swedish</li>
        <li>Fluent: English</li>
        <li>Limited understanding: Spanish, Danish, Norwegian</li>
      </ul>
    </div>
  </div>
</div>