* {
  margin: 0px;
}
p {
  font-family: "Indie Flower", sans-serif;
}
li {
  font-family: "Indie Flower", sans-serif;
}
h1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 40px;
}
h2 {
  font-family: "Bricolage Grotesque", sans-serif;
}
h3 {
  font-family: "Bricolage Grotesque", sans-serif;
  margin-bottom: 10px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  height: 40px;
  padding: 5px;
  padding-left: 20px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 20px;
  line-height: 40px;
}
#headerWorks {
  color: rgb(157, 179, 172);
}

.backgroundBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  width: 100%;
  height: 100%;
}
.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60%;
}
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  max-width: 800px;
}
.contactImage {
  display: flex;
  justify-content: center;
  object-fit: cover;
  padding: 10px;
}

#profileImg {
  width: 300px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  border: 10px solid rgb(197, 209, 205);
}
.contactText {
  padding: 3%;
  margin-top: 2%;
  padding-right: 20px;
}
.contact h1 {
  font-size: 35px;
}
.contact h2 {
  font-size: 20px;
  color: rgb(157, 179, 172);
}
.contactInfo {
  margin-top: 2vw;
  margin-left: 1vw;
  margin-top: 30px;
  background-color: rgb(197, 209, 205);
  padding: 20px;
  width: 250px;
  border-radius: 10px;
}
.contact p {
  font-size: 17px;
}
.about {
  margin-top: 30px;
  color: black;
}
.about h2 {
  color: black;
}
.about p {
  margin-top: 15px;
  padding-left: 1vw;
}
.firstRowBoxes,
.secondRowBoxes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
.education,
.professional,
.skills,
.languages {
  background-color: rgb(197, 209, 205);
  padding: 20px;
  justify-content: center;
  width: 42%;
  border-radius: 10px;
}
